//////////////////////////
// !THEME / MIXINS / FONTS
//////////////////////////


// !System

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'), local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'), local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@mixin font-system {
  font-family: 'system';
}

// !Serif
@mixin font-serif($imp:null) {
  font-family: 'Spectral', Georgia, serif $imp;
}


// !Sans Serif
@mixin font-sans($imp:null) {
  font-family: 'Heebo', Verdana, serif $imp;
}
