//////////////////////////////
// !THEME / VARIABLES / COLORS
//////////////////////////////


// !BRAND COLORS

// Define brand colors
// $color-brand-alpha: #006060;
// $color-brand-beta: #F4F8F8;
// $color-brand-gamma: #C1B394;
// $color-brand-delta: #0000E0;


// Assign names to brand colors
$teal: #005F60;
$darkTeal: #004F4F;
$mint: #F4F8F8;
$khaki: #C1B394;
$charcoal: #555555;
$blue: #0000E0;


// !UI COLORS
// Assign colors to elements
$white: #F9F9F9;

// Body background color (usually white, off-white, or very light gray)
$color-body-bg: $white;


// Strive for WCAG AAA (minimum contrast ratio of 7.0) for body text
$color-body: $charcoal;


// Strive for WCAG AAA (minimum contrast ratio of 7.0) for heading text
$color-heading: $teal;


// Must meet WCAG AA (minimum contrast ratio of 4.5)
$color-light-text: mix($white, $charcoal, 33%);


// !Links
// $color-link: lighten($blue, 13%);
// $color-link-visited: adjust-color($color-link, $hue: 40deg, $saturation: -12, $lightness: -20);
// $color-link-hover: adjust-color($color-link, $lightness: -25);
// $color-link-active: $blue;

$color-link: $teal;
$color-link-visited: adjust-color($blue, $hue: 40deg, $saturation: -12, $lightness: -15);
$color-link-hover: lighten($blue, 13%);
$color-link-active: mix($charcoal, $blue, 10%);

// $color-link-visited: scale-color($color-link, $lightness: -10%, $saturation: -100%);
// $color-link-hover: scale-color($color-link, $lightness: -20%, $saturation: 100%);
// $color-link-active: scale-color($color-link, $lightness: -30%, $saturation: 100%);


// !Buttons
$color-button: $color-link;
$color-button-visited: $color-link;
$color-button-hover: $darkTeal;
$color-button-active: $darkTeal;


// !Borders
$color-border: $khaki;
$color-border-hover: darken($color-border,10%);


// $border-color: scale-color($scarlet, $saturation: -100%);



// !Marks (Highlights) Background Color
$color-mark: #ff0;


// !Breadcrumbs
$color-breadcrumb: $khaki;


// !Badges
$color-badge: $khaki;


// !Footer
// $color-footer-local: fade-out($white, .3);
// $color-footer-local-bg: $color-body;
// $color-footer-global: fade-out($white, .3);
// $color-footer-global-bg: $color-heading;
$color-footer-bg: $charcoal;
$color-footer-link: fade-out($white, .2);
$color-footer-link-visited: fade-out($white, 0);
$color-footer-link-hover: fade-out($white, .1);
$color-footer-link-active: fade-out($white, 0);




// !Define contextual colors
$color-active: rgba(0,0,0,.1);
$color-info: rgba(0,102,255,.1);
$color-success: rgba(0,153,0,.1);
$color-warning: rgba(255,102,0,.1);
$color-danger: rgba(255,0,0,.1);


// $theme-color-key: 'base' !default;
//
// $theme-colors: (
//   'primary': (
//     'base': #d00000
// //     'base': hsla(0,100%,41%,1.0) // #d00000
//   ),
//   'accent': (
//     'base': #fefdfa
// //     'base': hsla(45,67%,99%,1.0) // #fefdfa
//   )
// );
//
// $theme-opacity: (
//   'light': 0.75, // opacity used with lighter colors
//   'dark': 0.25  // opacity used with darker colors
// );
//
// @function theme-color(
//   $name: 'primary',
//   $variant: $theme-color-key,
//   $opacity: 1
// ) {
//   $color: null;
//
//   // Get the color spectrum
//   $color-spectrum: map-get($theme-colors, $name);
//
//   // Get the color variant
//   @if $color-spectrum {
//     $color: map-get($color-spectrum, $variant);
//   }
//
//   // Get the alpha setting
//   $alpha: if(type-of($opacity) == 'number', $opacity, map-get($theme-opacity, $opacity));
//
//   // Set the alpha of the color
//   @if $alpha {
//     $color: rgba($color, $alpha);
//   }
//
//   @return $color;
// }