/////////////////////////////////
// !GENERAL
/////////////////////////////////

*,
*:before,
*:after {
  background: transparent !important;
  color: #000 !important; // Black prints faster: h5bp.com/s
  box-shadow: none !important;
  text-shadow: none !important;
  font-family: Arial, sans-serif;

}

/////////////////////////////////
// !ELEMENTS
/////////////////////////////////

abbr[title]:after {
    content: " (" attr(title) ")";
}

img {
    max-width: 100% !important;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

input[type="submit"] {
  display: none;
}


/////////////////////////////////
// !LINKS
/////////////////////////////////

a,
a:visited {
    text-decoration: underline;
}

/* Show the URL after each link, whereby internal links are preceeded by the site's URL */
a[href]:after {
  content: " (https://www.acbnebraska.org/" attr(href) ")";
  font-size: 80%;
  word-wrap: break-word; /* break long urls that donìt fit the page width */
}

/* External links don't get this treatment */
a[href^="http://"]:after, a[href^="https://"]:after {
  content: " [" attr(href) "]";

}

// Don't show links that are fragment identifiers,
// or use the `javascript:` pseudo protocol
a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
}


pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}


/////////////////////////////////
// !TABLES
/////////////////////////////////
/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/

thead {
    display: table-header-group; // h5bp.com/t
}

tr,
img {
    page-break-inside: avoid;
}


/////////////////////////////////
// !HEADER
/////////////////////////////////

.c-skip-link,
.c-menu,
.c-search,
nav.tabs,
footer {
  display: none !important;
}

.c-header {
  position: static;
}

.c-site-branding > * {
 display: inline-block !important;
}

.c-site-logo {
  &:after {
    display: none;
  }
}

.c-breadcrumb {
  display: none; //disabled for now;
  padding-top: 2.25em;

  &:before {
    content: 'Page Breadcrumbs';
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.25em;
    display: block;
  }
}


/////////////////////////////////
// !UTILITY CLASSES
/////////////////////////////////

.u-screen-only {
  display: none !important;
}

/////////////////////////////////
// !Drupal webform styles override
/////////////////////////////////

.webwebform-section-title {
  margin-top: 1.33em
}

.form-type-checkbox label {
    max-width: 36em;
}

.form-type-email, .form-type-textfield, .form-type-date {
  input {
    max-width: 100%;
  }
}

.button, .image-button {
  margin-left: .56em;
  margin-right: .56em;
}

.form-composite > legend,.label {
  font-weight: regular;
}

.c-fieldset-wrapper {
  & > legend {
    .fieldset-legend {
      display: block;
      font-size: 1.5em;
      font-weight: bold;
      page-break-after: avoid;
    }
  }
}
