{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <nav class="c-breadcrumb breadcrumb" role="navigation" aria-label="{{ 'Breadcrumb'|t }}">
        <ol>
            {% for item in breadcrumb %}
                <li>
                    {% if item.url %}
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    {% else %}
                        {# The last item is not linked and should have aria-current="true" applied to it #}
                        {% if loop.last %}
                            <span aria-current="true">{{ item.text }}</span>
                        {% else %}
                            {{ item.text }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endif %}
