{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
	We call a macro which calls itself to render the full tree.
	@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}
	{% if items %}
		{%
			set mainNavClasses = [
				'c-menu-list',
				'dcf-u',
				'dcf-o-list-bare'
			]
		%}
		{%
			set subNavClasses = [
				'c-menu-list__submenu'
			]
		%}
		{% if menu_level == 0 %}
			<ul{{ attributes.addClass(mainNavClasses) }}>
		{% else %}
			<ul{{ attributes.removeClass(mainNavClasses).addClass(subNavClasses)}}>
		{% endif %}
		{% for item in items %}
			{%
				set classes = [
					'c-menu-list__item',
					item.is_expanded ? 'c-menu-item--expanded',
					item.is_collapsed ? 'c-menu-list__item--collapsed',
					item.in_active_trail ? 'c-menu-list__item--active-trail',
					item.below ? 'has-child'
				]
			%}
			<li{{ item.attributes.addClass(classes) }}>

				{% if item.below %}
					{# this has a submenu so it is a button at deskop #}
					<button aria-expanded="false">{{ item.title }}</button>
                    {{ link(item.title, item.url) }}
					{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% else %}
					{# this doesn't have a sub menu, so its just a link #}
                    {{ link(item.title, item.url) }}
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
