//////////////////////////////
// !THEME / COMPONENTS / SITE BRANDING
//////////////////////////////
.c-site-branding {
	flex: 0 1 100%;
	@include pb3;

	@include mq(sm, max) {
		@include wrapper-mimic;
	}

	@include mq(sm) {
		flex: 0 1 58%;
		padding-left: 5.6%;
		@include pb2;
	}
}

.c-site-logo {
	width: 25%;
	max-width: 5.25em;
	align-items: center;

	@include mq(sm) {
		max-width: 5.5em;
	}

	img {
		width: 100%;
	}
}

.c-site-name {
	@include h5;
	color: $charcoal !important;

	@include mq(sm) {
		@include h4;
	}

	@include mq(md) {
		@include h3;
	}
}

.c-site-slogan {
	@include h6;

	@include mq(sm) {
		@include h5;
	}

	@include mq(md) {
		@include h4;
	}
}

// ------------------------------------
// --- IE11 Fixes using modernizr class
// --- .acbn_no-objectfit
// --- for site branding
// ------------------------------------
.acbn_no-objectfit {
	.c-site-branding {
		@include mq(sm) {
			max-width: 58%;
		}
	}
}