.path-search {
	main {
		form {
			@include box;
			@include mb8;
			@include pr4;
			@include pl4;
			background-color: $mint;

			@include mq(sm) {
				@include pr7;
				@include pl7;
			}

			input[type="submit"] {
				@include ml0;
				@include mr0;
				@include mb2;
				background-color: green !important;

			  @include mq(468px) {
			  	@include ml2
			  	@include mb0;
			  }
			}
		}


		.form-type-search {
			label {
				display: block;
				@include mb1;
			}

			input[type="search"] {
				max-width: 89.5%;
				@include pt2;
			  @include pr3;
			  @include pb2;
			  @include pl3;
			  @include mb2;
			  border: 1px solid $color-border;
			  border-radius: $roundrect;
			  box-shadow: inset 0 1px 2px fade-out($color-border,1);
			  transition: border-color $hover-off, box-shadow $hover-off;

			  @include mq(448px) {
			  	@include mb4;
			  }
			}
		}

		h2 {
			@include mb6;
	    border-bottom: 1px solid $khaki;
		}

		.search-results {
			li {
				margin-left: 0;

				@include mq(sm) {
					@include ml5;
				}
			}
		}

	}
}