.c-cta-cards {
	// display: flex;
	// flex-flow: row wrap;
	// justify-content: space-between;
	@include pt9;
	@include pb8;
	@include pl4;
	@include pr4;
	background-color: $mint;

	@include mq(sm) {
		@include pl10;
		@include pr10;
	}

	// links
	&__item,
	.file > a {
		display: block;
		@include b1;
		border-color: $teal;
		@include rounded;
		color: $teal;
		text-decoration: none;
		overflow: hidden;
		font-size: #{ms(1)}rem;
		height: 100%;
		transition: color 250ms ease-out,background 250ms ease-out !important;

		@include pt8;
		@include pb8;
		@include pl3;
		@include pr3;

		@include mq(sm) {
			@include pl5;
			@include pr5;
		}

		@include mq(md) {
			@include pl7;
			@include pr7;
		}

		// center text in card
		display: flex;
		align-items: center;

		&:hover, &:focus {
	    position: relative;
	    background-color: $teal;
	    color: $white;
	    @include bold;

	    &:after {
		    content: '';
	    	position: absolute;
		    height: 10em;
		    width: 10em;
		    right: 0;
		    bottom: 0;
		    transform: rotate(45deg) translate(97%, 12%);
		    background-color: #f9f9f9;
		    box-shadow: inset 4px 19px 5px -1px rgba(85,85,85,0.25);
	    }
		}
	}

	&__item,
	.file {
		// flex: 0 0 32%;
		// @include mb5;
	}

	// remove file type icon
	.file {
		padding-left: 0;
		background-image: none !important;
	}
}

// ------------------------------------
// --- IE11 Fixes using modernizr class
// --- .acbn_no-objectfit
// --- for header search
// ------------------------------------
.acbn_no-objectfit {
	.c-cta-cards {
		justify-content: space-between;

	 	&__item,
		.file > a {
			flex: 0 1 45%;
			@include mb1;

			@include mq(sm) {
				flex-basis: 30%;
				max-width: 30%;
			}

			@include mq(md) {
				@include mb3;
			}
		}
	}
}