//////////////////////////////
// !THEME / COMPONENTS / FOOTER
//////////////////////////////

body {
	&:not(.page-node-type-landing-page), &:not(.path-frontpage) {
		.c-footer {
			@include mt9;
		}
	}
}

.c-footer {
	background-color: $charcoal;
	@include pt7;
	@include pb4;
	position: relative;
	overflow: hidden;

	@include mq(sm) {
		overflow: visible;
	}

	&:before {
		content:'';
		position: absolute;
		bottom: 0;
		right: 0;
		height: 100em;
		width: 100em;
		background-color: $teal;
		transform: rotate(56deg) translate(101em,4em);

		@include mq(380px) {
			transform: rotate(56deg) translate(99em,4em);
		}

		@include mq(sm) {
			display: none;
		}
	}
}

.c-triangle {
	@include mq(sm) {
		// transform: rotate(52.5deg) translate(100.1em,4em);
		height: 0;
		width: 0;
		border-bottom: 25em solid $teal;
		border-left: 33em solid transparent;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.c-footer-logo {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80%;
	height: 100%;
	overflow: hidden;

	@include mq(sm) {
		width: 50%;
	}

	&:before {
		content:url(../../../images/logo/acbn-footer.svg);
		position: absolute;
		bottom: 0;
		right: 0;
		height: auto;
		width: 84%;
		min-width: 15em;
		max-width: 17em;
		opacity: 0.12;
		transform: rotate(-15deg) translate(30px,16px);

		@include mq(sm) {
			transform: rotate(-15deg) translate(17px,26px);
		}
	}
}


//////////////////////////////
// !THEME / COMPONENTS /
// CONTACT INFO
//////////////////////////////

.c-contact-info {
	@include pb10;

	@include mq(sm) {
		@include pb2;
		@include mb2;
	}

	&__header {
		color: $white;
		font-size: #{ms(2)}em;
		letter-spacing: 0.4px;
		margin-bottom: 0.12188em;

		@include mq(sm) {
			font-size: 0.95em;
			@include lh3;
		}
	}

	&__address {
		font-size: #{ms(1)}em;
		color: $white;

		@include mq(sm) {
			font-size: #{ms(-1)}em;
		}

		a {
			&:link, &:visited {
				color: $white;
			}
		}

		abbr {
			&[title] {
				border-bottom: 0;

				&:after {
					top: unset;
					bottom: 3px;
					right: 0;
					left: 0px;
					height: auto;
					opacity: 1;
				}
			}
		}
	}
}

//////////////////////////////
// !THEME / COMPONENTS /
// COPYRIGHT INFO
//////////////////////////////
.c-copyright-info {
	position: relative;
	text-align: center;
	@include pt10;

	@include mq(sm) {
		@include pt2;
		@include mt2;
	}

	@include mq(xl) {
		text-align: left;
	}

	&__hr {
		width:37%;
		min-width: 11em;
		@include mt0;
		@include mb0;
		border-top: 0;
		border-color: $white;

		@include mq(sm) {
			min-width: initial;
			min-width: unset;
			max-width: 9em;
		}

		@include mq(xl) {
			display: none;
		}
	}

	&__knowbility-logo {
		fill: $white;
		width: 30%;
		min-width: 9em;

		@include mq(sm) {
			min-width: initial;
			min-width: unset;
			max-width: 7.5em;
			position: relative;
    	bottom: -7px;
		}

		@include mq(xl) {
			vertical-align: sub;
			max-width: 7em;
		}
	}

	&__text {
		color: $white;
		font-size: #{ms(1)}em;
		display: block;
		@include mt1;
		@include mb2;

		@include mq(sm) {
			font-size: #{ms(-1)}em;
		}

		@include mq(xl) {
			display: inline-block;
			font-size: 1.05em;
			@include bl;
			@include ml1;
			@include pl1;
		}
	}
}

// ------------------------------------
// --- IE11 Fixes using modernizr class
// --- .acbn_no-objectfit
// --- for footer copyright info
// ------------------------------------
.acbn_no-objectfit {
	.c-copyright-info {
		&__knowbility-logo {
			// max-height: 3.1em;

			@include mq(sm) {
				max-height: 2.2em;
			}
		}
	}
}

//////////////////////////////
// !THEME / COMPONENTS /
// LAST UPDATED DATE
//////////////////////////////
.c-last-updated-date {
	position: relative;
	text-align: center;

	@include mq(xl) {
		text-align: left;
	}

	&__text {
		color: $white;
		font-size: #{ms(-1)}em;
	}
}

.c-sitemap {
	&:link, &:visited {
		color: $white;
		font-size: #{ms(-2)}em;
		text-transform: capitalize;
	}

	&:hover {
		color: mix($teal, $mint, 10%);
	}
}