//////////////////////////////
// !THEME / COMPONENTS / FORMS
//////////////////////////////


.dcf-c-form-group {
  @include mb4;
}


// !Input: Text
.dcf-c-input-text,
.c-input-text {
  @include pt2;
  @include pr3;
  @include pb2;
  @include pl3;
  border: 1px solid $color-border;
  border-radius: $roundrect;
  box-shadow: inset 0 1px 2px fade-out($color-border,1);
  transition: border-color $hover-off, box-shadow $hover-off;
}


.dcf-c-input-text:hover {
  border-color: $color-border-hover;
  box-shadow: inset 0 1px 2px fade-out($color-border,.5);
  transition: border-color $hover-on, box-shadow $hover-on;
}


.dcf-c-input-text:focus {
  outline: none;
  border-color: $color-button;
}


.dcf-c-label + .dcf-c-input-text {
  @include mt1;
}


// !Input: Control
.dcf-c-input-control {
  @include mr1;
}


// !Input: File
.dcf-c-input-file {
  @include mt2;
  @include mb2;
}


// !Input: Required
.dcf-c-input-required {
  @include pl2;
  @include italic;
  @include sm2;
}


// !Form Help
.dcf-c-form-help {
  @include mt1;
  @include sm2;
  color: mix($color-body, $khaki, 80%);
}




// Uses Filament Group's select-css: https://github.com/filamentgroup/select-css

/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.dcf-c-input-select {
  @include table;
  @include relative;
  @include mt1;
}

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.dcf-c-input-select select {
  @include w100;
  @include m0;
  outline: none;
  @include pt2;
  @include pr4;
  @include pb2;
  @include pl3;

  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* Font size must be 16px to prevent iOS page zoom on focus */
  font-size: 1rem;
}


/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.dcf-c-input-select::after {
  content: " ";
  @include absolute;
  top: 50%;
  right: 1em;
  z-index: 2;
  /* These hacks make the select behind the arrow clickable in some browsers */
  pointer-events: none;
  @include none;
}

/* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
 * @supports ( mask-type: alpha ) is Firefox 35+
 */
@supports (-webkit-appearance: none) or (appearance: none) or ((-moz-appearance: none) and (mask-type: alpha)) {

  /* Show custom arrow */
  .dcf-c-input-select::after {
    @include block;
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid $color-body;
    margin-top: -4px;
  }

  /* Remove select styling */
  .dcf-c-input-select select {
    padding-right: 3em; /* Match-01 */
    /* inside @supports so that iOS <= 8 display the native arrow */
    @include bg-none; /* Match-04 */
    /* inside @supports so that Android <= 4.3 display the native arrow */
    border: 1px solid transparent; /* Match-05 */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .dcf-c-input-select select:focus {
    border-color: #aaa; /* Match-03 */
  }
}






/* These are the "theme" styles for our button applied via separate button class, style as you like */
/* Set the background fallback to solid #fff so Firefox renders the <option> list readably. */
.dcf-c-input-select {
  border: 1px solid $color-border;
  @include rounded;
  // 	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  // 	box-shadow: 2px 2px 0 0 rgba(0,0,0,.1);
  transition: border-color $hover-off;
  background-color: #fff;
}

.dcf-c-input-select select {
  /* General select styles: change as needed */
  // 	font-family: sans-serif;
  // 	font-weight: 700;
  color: $color-body;
  // 	line-height: 1.5;
  @include lh3;
  @include rounded;
  @include font-system;
}

/* Hover style */
.dcf-c-input-select:hover {
  border-color: $color-border-hover;
  transition: border-color $hover-on;
}

/* Focus style */
.dcf-c-input-select select:focus {
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; /* Match-02 */
}

@supports ( box-shadow: none ) {
  .dcf-c-input-select select:focus {
    outline: none;
  }
}

/* Set options to normal weight */
.dcf-c-input-select option {
  @include regular;
}



/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance. Targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .dcf-c-input-select select::-ms-expand {
    @include none;
  }

  .dcf-c-input-select select:focus {
    border-color: #aaa; /* Match-03 */
  }

  .dcf-c-input-select select:focus::-ms-value {
    @include bg-transparent;
    color: #222; /* Match-02*/
  }

  .dcf-c-input-select select {
    padding-right: 3em; /* Match-01 */
    @include bg-none; /* Match-04 */
    border: 1px solid transparent; /* Match-05 */
  }

  .dcf-c-input-select::after {
    @include block;
  }
}
