{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'c-header',
    'dcf-o-full-width',
    'dcf-u-pt5',
  ]
%}
{% if content %}
  <header role="banner" {{ attributes.addClass(classes) }}>
      {#
        Keyboard navigation/accessibility link to main content section in
        page.html.twig.
      #}
      <a href="#main-content" class="c-skip-link">
          {{ 'Skip to main content'|t }}
      </a>
      {{ content }}
  </header>
{% endif %}
